<launch>
  <node 
    pkg="robot_state_publisher"
    exec="robot_state_publisher"
    output="screen">
    <param name="robot_description" value="$(command 'xacro $(find-pkg-share turtlebot_description)/robots/turtlebot_lidar.urdf.xacro')"/>
    
  </node>
  <node
    pkg="joint_state_publisher_gui"
    exec="joint_state_publisher_gui"
    output="screen"/>
  
  <node name="rviz" pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share turtlebot_description)/launch/view.rviz"/>
</launch>
