<?xml version="1.0"?>
<robot name="open_manipulator_x" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find open_manipulator_description)/urdf/camera_gazebo.xacro"/>
  <xacro:include filename="$(find open_manipulator_description)/urdf/op_robot.xacro"/>
  <xacro:include filename="$(find open_manipulator_description)/urdf/joint_control_gazebo.xacro"/>


  <xacro:op_robot/>
  <xacro:camera_gazebo/>
  <xacro:joints_gazebo/>

</robot>