<launch>
  <node 
    pkg="robot_state_publisher"
    exec="robot_state_publisher"
    output="screen">
    <param name="robot_description" value="$(command 'xacro $(find-pkg-share open_manipulator_description)/urdf/open_manipulator_x.urdf.xacro')"/>
   
  </node>
  <node
    pkg="joint_state_publisher_gui"
    exec="joint_state_publisher_gui"
    output="screen"/>
  
  <node name="rviz" pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share open_manipulator_description)/rviz/open_manipulator_x.rviz"/>
</launch>
